/* 
Japan Tour
By Chuan, 2024.6.27 COpyrights, Inc. All Rights Reserved
*/

/* ------------- *\
Global
Layout
Component
\* ------------- */

/* ! Global */
*{
    box-sizing: border-box;
    position: relative;
}
html, body{
    font-family: '微軟正黑體', 'arial';
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
}


/* ! Layout */
.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
    /* border: solid 1px rgb(255, 0, 0); */
}
.row{
    /* border: solid 1px #333; */
    margin: 0 -16px;
}
.row:after{
    content: '';
    display: block;
    clear: both;
}

.col-6, .col-12{
    /* border: solid 1px rgb(0, 0, 255); */
    float: left;
    padding: 0 16px;
}
.col-6{
    width: 50%;
}
.col-12{
    width: 100%;
}

/* ! Component */

/* navbar */
.navbar{
    /* border: solid 1px #000; */
    height: 64px;
    background-color: rgba(255, 255, 255, 0.8);
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
}
.navbar .logo{
    /* border: solid 1px blue; */
    color: #000;
    display: inline-block;
    vertical-align: top;
    width: 120px;
    height: 64px;
    background-image: url('../img/logo/japan-monument-svgrepo-com.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    white-space: nowrap;
    text-indent: 100%;
    overflow: hidden;
}
.navbar .nav{
    float: right;
}
.navbar .nav .nav-item{
    float: left;
}
.navbar .nav .nav-link{
    /* border: solid 1px rgb(250, 150, 0); */
    display: block;
    color: #000;
    line-height: 24px;
    padding: 20px 16px;
    font-weight: bold;
    font-size: 20px;
    transition: all 0.3s;
}
.navbar .nav .nav-link:hover{
    color: rgb(255, 174, 66);
}

/* jumbotron */
.jumbotron{
    margin-top: 64px;
    /* border: solid 1px rgb(255, 0, 255);   */
    padding: 180px 0 140px ;
    background-image: url('../img/bg/osaka-jumbo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center 65%;
}
.jumbotron h2{
    color: rgba(255, 174, 66, 0.85);
    width: 320px;
    height: 320px;
    margin: 0 auto;
    /* border: solid 1px yellow; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
}
.mask{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100%;
}

/* Content */
.hero{
    padding: 24px 0;
    /* border: solid 1px limegreen; */
    height: 100%;
}
.hero.map .row{
    background-color: #efefef;
}
/* map */
.hero .city{
    text-align: center;
}
.city-title{
    /* border: solid 1px orange; */
    font-size: 36px;
    margin: 0 auto;
    margin-top: 24px;
    text-align: center;
    color: #fe5a1d;
    display: inline-block;
    border-bottom: solid 4px #fe5a1d;
    padding-bottom: 2px;
}
.map-prev{
    font-size: 20px;
    margin: 8px 0 16px 0;
    color: #333;
    /* text-align: center; */
}

/* attraction */
.hero .attrc-place{
    /* border: solid 2px cyan; */
    margin: 32px 0;
}
.hero .attrc-place:nth-child(1){
    margin-top: 0;
}
.hero .attrc-place:last-child{
    margin-bottom: 0;
}
.hero .attrc-place:after{
    content: '';
    display: block;
    clear: both;
}

.attrc .attrc-prev:after{
    content: '';
    display: block;
    clear: both;
}
.attrc .attrc-prev h4{
    font-size: 28px;
    margin: 8px 0;
    /* border: solid 1px gray; */
    line-height: 40px;
    padding-left: 12px;
    float: left;
}
.attrc .left .attrc-prev h4{
    float: left;
}
.attrc .right .attrc-prev h4{
    float: right;
}
.attrc .attrc-prev:before{
    content: '';
    display: inline-block;
    width: 4px;
    height: 36px;
    background-color: #fe5a1d;
    
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}
.attrc-parag{
    /* border: solid 1px pink; */
    font-size: 20px;
    line-height: 28px;
    text-align: justify;
}
/* attraction image */
.img-container{
    width: 100%;
    /* border: solid 1px yellow; */
}
.img-container:before{
    content: '';
    display: block;
    width: 100%;
    padding-top: 60%;
}
.img-container .image{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 6px;
}

/* footer */
.footer{
    background-image: url('../img/bg/all.jpg');
    background-repeat: no-repeat;
    background-position: center 65%;
    background-size: cover;
    width: 100%;
    height: 600px;
    /* border: solid 1px yellow; */
}
.footer .hero h5, .footer .hero a{
    color: #fff;
    display: inline-block;
    font-size: 28px;
}
.footer .hero a{
    margin: 0 14px;
}
