/* 
Japan Tour
By Chuan, 2024.6.27 COpyrights, Inc. All Rights Reserved
*/

/* ------------- *\
Global
Layout
Component
\* ------------- */

/* ! Global */
*{
    box-sizing: border-box;
    position: relative;
}
html, body{
    font-family: '微軟正黑體', 'arial';
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
}


/* ! Layout */
.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
    /* border: solid 1px rgb(255, 0, 0); */
}
.row{
    /* border: solid 1px #333; */
    margin: 12px -16px;
}
.row:after{
    content: '';
    display: block;
    clear: both;
}

.col-lg-6, .col-lg-12,
.col-md-6, .col-md-12
{
    /* border: solid 1px rgb(0, 0, 255); */
    float: left;
    padding: 0 16px;
}
.col-lg-6{
    width: 50%;
}
.col-lg-12{
    width: 100%;
}
@media screen and (max-width: 768px){
    .col-md-12{
        width: 100%;
    }
    .col-md-6{
        width: 50%;
    }
}

/* ! Component */

/* navbar */
.navbar{
    /* border: solid 1px #000; */
    height: 64px;
    background-color: rgba(255, 255, 255, 0.8);
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 500;
}
.navbar .logo{
    /* border: solid 1px blue; */
    color: #000;
    display: inline-block;
    vertical-align: top;
    width: 120px;
    height: 64px;
    background-image: url('../img/logo/japan-monument-svgrepo-com.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    white-space: nowrap;
    text-indent: 100%;
    overflow: hidden;
}
.navbar .nav{
    /* border: solid 1px lime; */
    float: right;
}
.navbar .nav .nav-item{
    float: left;
}
.navbar .nav .nav-link{
    /* border: solid 1px rgb(250, 150, 0); */
    display: block;
    color: #000;
    line-height: 24px;
    padding: 20px 16px;
    font-weight: bold;
    font-size: 20px;
    transition: all 0.3s;
}
.navbar .nav .nav-link:hover{
    color: rgb(255, 174, 66);
}
@media screen and (max-width: 768px){
    .navbar .nav{
        position: fixed;
        right: 0;
        top: 0;
        width: 20%;
        height: 360px;
        z-index: 1000;
        background-color: rgba(255, 255, 255, 0.8);

        display: flex;
        flex-direction: column;
        padding-top: 64px;
        
        opacity: 0;
        visibility: hidden;
        /* transition: all 0.3s; */
    }
    .navbar .nav-link{
        text-align: center;
        padding: 0 16px;
        color: rgb(250, 174, 66);
    }
    .navbar .nav .nav-link:hover{
        color: rgb(250, 174, 66);
    }
    #popup-menu:target{
        opacity: 1;
        visibility: visible;
    }
}

.navbar .menu-toggle{
    border: solid 1px #000;
    width: 50px;
    height: 50px;
    display: none;
    float: right;
    margin-top: 7px;
}
@media screen and (max-width: 768px){
    .navbar .menu-toggle{
        display: inline-block;
    }
}
.navbar .menu-toggle span{
    width: 36px;
    height: 2px;
    background-color: rgb(250, 174, 66);
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}
.navbar .menu-toggle span:nth-child(1){
    top: 13px;
}
.navbar .menu-toggle span:nth-child(2){
    top: 23px;
}
.navbar .menu-toggle span:nth-child(3){
    top: 33px;
}
/* close btn */
.navbar .close-btn{
    width: 50px;
    height: 50px;
    border: solid 1px cyan;
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    margin: 5px 14px 0 0;
}
@media screen and (max-width: 768px){
    .navbar .close-btn{
        display: block;
    }
}
.navbar .close-btn span{
    width: 40px;
    height: 2px;
    background-color: rgb(250, 174, 66);
    position: absolute;
    top: 50%;
    left: 50%;
}
.navbar .close-btn span:nth-child(1){
    transform: translate(-50%, -50%) rotate(45deg);
}
.navbar .close-btn span:nth-child(2){
    transform: translate(-50%, -50%) rotate(-45deg);
}

/* jumbotron */
.jumbotron{
    margin-top: 64px;
    /* border: solid 1px rgb(255, 0, 255);   */
    padding: 180px 0 140px ;
    background-image: url('../img/bg/osaka-jumbo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center 65%;
}
.jumbotron h2{
    color: rgba(255, 174, 66, 0.85);
    width: 320px;
    height: 320px;
    margin: 0 auto;
    /* border: solid 1px yellow; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
}
.mask{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100%;
}

/* Content */
.hero{
    padding: 24px 0;
    /* border: solid 1px limegreen; */
    height: 100%;
}
.map .row{
    background-color: #efefef;
}
/* map */
.hero .city{
    text-align: center;
}
.city-title{
    /* border: solid 1px orange; */
    font-size: 36px;
    margin: 0 auto;
    margin-top: 24px;
    text-align: center;
    color: #fe5a1d;
    display: block;
    border-bottom: solid 3px #fe5a1d;
    border-top: solid 3px #fe5a1d;
    padding: 4px 0;
}
.map-prev{
    /* border: solid 1px blue; */
    font-size: 20px;
    margin: 8px 0 8px 0;
    color: #333;
    padding: 8px 0;
    /* text-align: center; */
}

/* attraction */
.hero .part-title{
    margin-top: 36px;
    text-align: center;
    font-size: 24px;
    border-bottom: solid 3px #333;
    /* border-style: ridge; */

}
.attraction .attrc-place{
    /* border: solid 2px cyan; */
    margin: 32px 0;
}
.attraction .attrc-place:nth-child(1){
    margin-top: 0;
}
.attraction .attrc-place:last-child{
    margin-bottom: 0;
}
.attraction .attrc-place:after{
    content: '';
    display: block;
    clear: both;
}

.attrc-place .attrc-prev:after{
    content: '';
    display: block;
    clear: both;
}
.attrc-place .attrc-prev h4{
    font-size: 28px;
    margin: 8px 0;
    /* border: solid 1px gray; */
    line-height: 40px;
    padding-left: 12px;
    float: left;
}
.attrc-place .left .attrc-prev h4{
    float: left;
}
.attrc-place .right .attrc-prev h4{
    float: right;
}
.attrc-place .attrc-prev:before{
    content: '';
    display: inline-block;
    width: 4px;
    height: 36px;
    background-color: #fe5a1d;
    
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}
.attrc-parag{
    /* border: solid 1px pink; */
    font-size: 22px;
    line-height: 28px;
    text-align: justify;
}
/* attraction image */
.img-container{
    width: 100%;
    /* border: solid 1px yellow; */
}
.img-container:before{
    content: '';
    display: block;
    width: 100%;
    padding-top: 60%;
}
.img-container .image{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 6px;
}
.img-container .image.map{
    background-size: contain;
}

/* footer */
.footer{
    background-image: url('../img/bg/all.jpg');
    background-repeat: no-repeat;
    background-position: center 65%;
    background-size: cover;
    width: 100%;
    height: 600px;
    /* border: solid 1px yellow; */
}
.footer .hero h5, .footer .hero a{
    color: #fff;
    display: inline-block;
    font-size: 28px;
}
.footer .hero a{
    margin: 0 14px;
}
